<div class="outer">
  <figure class="image" {% if include.width %}style="width: {{ include.width }};"{% endif %}>
    <img src="{{ include.url }}" alt="{{ include.description }}" {% if include.height %}height="{{ include.height }}"{% endif %}>
    <figcaption>{{ include.description }}</figcaption>
    <br>
  </figure>
</div>

<style>
  .outer {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  .image {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto; /* Center the figure */
  }

  .image img {
    display: block; /* Removes bottom space, allows margin auto if figure not centered */
    width: 100%; /* Make image fill the figure container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Still good to have */
  }

  /*** Base Caption Styles ***/
  figure.embed,
  figure.embed-top,
  figure.overlay,
  figure.embed-over {
    display: inline-block;
    text-align: initial;
    vertical-align: top;
    position: relative;
    margin: 0.5em;
    font-size: 0.8em;
    background: white;
    overflow: hidden;
  }
  figure.embed img,
  figure.embed-top img,
  figure.overlay img,
  figure.embed-over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  figure.embed figcaption,
  figure.embed-top figcaption,
  figure.overlay figcaption,
  figure.embed-over figcaption {
    width: 100%;
    padding: 0.5em;
    /* neutral theme */
    color: rgba(50, 50, 50, 1);
    background: rgba(200, 200, 200, 0.825);
  }

  figcaption {
    display: block;
    font-size: 80%;
  }
</style>